.Header{
  height:8vh;
  background-color: #283e4a;
}
.Header-content{
  padding-left:40px;
  padding-right:40px;
}
.search-bar{
  width:100px;
  height:10px;
  margin-left:20px;
  display:inline;
  background-color:#636b6f;
}
.icon-image {
  margin:6px 10px 4px 10px;
  width:35px;
  border-radius:5px;
  display:inline-block;
  float:left;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
