.Header{
  height:8vh;
  background-color: #283e4a;
}
.Header-content{
  padding-left:40px;
  padding-right:40px;
}

.icon-image {
  padding-top:4px;
  padding-left:3%;
  width:35px;
  border-radius:10px;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
